{{- if eq .chezmoi.os "linux" }}
{{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias code="/mnt/c/Users/vsong/scoop/apps/vscode/current/bin/code"
{{-   end -}}
eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{- else -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end }}

export PATH="/Users/vsong/.local/bin:${PATH}"

[[ -f "${HOME}"/.cargo/env ]] && . "${HOME}"/.cargo/env

FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

