# --- Common .zprofile options ---
# ZSH Autosuggest options
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=8"
export ZSH_AUTOSUGGEST_STRATEGY=(match_prev_cmd history)
source $HOME/.victor-secrets.sh

{{ if eq .chezmoi.os "darwin" }}
# --- macOS .zprofile options ---
# Created by `userpath` on 2021-01-24 05:18:48
export PATH="/Users/vsong/.local/bin:$PATH"
export PATH="/Applications/Visual Studio Code - Insiders.app/Contents/Resources/app/bin:$PATH"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
# --- Linux .zprofile options ---
{{   if (contains "microsoft-standard" .chezmoi.kernel.osrelease) }}
# WSL 2 options
# Get VSCode working after we exclude Windows paths
# https://devblogs.microsoft.com/commandline/automatically-configuring-wsl/
alias code="/mnt/c/Users/VictorSong/scoop/apps/vscode-wsl/current/bin/code"
{{   end }}
# Common Linux options
export PATH="$PATH:/home/vsong/.local/bin"
{{ end }}

