[alias]
	dft = -c diff.external=difft diff
	dl = -c diff.external=difft log -p --ext-diff
	ds = -c diff.external=difft show --ext-diff
	lg = log --graph --oneline --decorate --color --all
	root = rev-parse --show-toplevel
	wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads

[branch]
	sort = -committerdate

[color]
	ui = true

[column]
	ui = auto

[commit]
	verbose = true

[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	fsmonitor = true
	untrackedCache = true

[credential]
{{- if eq .chezmoi.os "windows" }}
	helper = manager-core
{{ end }}

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[fetch]
	all = true
	prune = true
	tags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f

[help]
	autocorrect = prompt

[hub]
	protocol = ssh

[init]
	defaultBranch = main

[merge]
	conflictstyle = zdiff3

[pull]
	rebase = interactive

[push]
	autocrlf = input
	autoSetupRemote = true
	default = simple
	followTags = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[rerere]
	autoupdate = true
	enabled = true

[submodule]
	recurse = true

[tag]
	sort = version:refname

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[user]
	email = {{ .email }}
	name = Victor Song
