{{- if eq .chezmoi.os "darwin" -}}
tap "buo/cask-upgrade"
{{ end -}}
tap "homebrew/bundle"
{{- if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
{{- end }}
tap "homebrew/core"
brew "antibody"
brew "bat"
brew "cloc"
brew "chezmoi"
brew "coreutils"
{{- if eq .chezmoi.os "linux" }}
brew "act"
brew "docker"
{{ end }}
brew "exa"
brew "fzf"
brew "jags"
brew "jq"
{{- if eq .chezmoi.os "darwin"}}
brew "borgbackup"
brew "luajit", args: ["HEAD"]
brew "neovim", args: ["HEAD"]
brew "wakeonlan"
{{ else }}
brew "neovim"
{{ end }}
brew "ncdu"
brew "neofetch"
brew "pipx"
brew "r"
brew "ripgrep"
{{ if eq .chezmoi.os "linux" }}
brew "xclip"
brew "zsh"
{{   if (contains "microsoft-WSL2" .chezmoi.kernel.osrelease) }}
brew "hub"
brew "pango"
brew "pyenv"
{{   end }}
{{ end -}}
brew "youtube-dl"

{{- if eq .chezmoi.os "darwin" }}
cask "font-fantasque-sans-mono-nerd-font"
cask "google-chrome"
cask "intellij-idea"
cask "rectangle"
cask "setapp"
cask "slack"
cask "spotify"
cask "zoom"
{{- end -}}
{{- if (and (ne .chezmoi.hostname "Victors-Mini") (ne .chezmoi.os "linux")) }}
brew "rbenv"
cask "julia"
cask "keyboardcleantool"
cask "rar"
{{ end }}
# install Alacritty from source
# install Visual Studio Code Insiders until there's M1 support
