[user]
    email = {{ .email }}
    name = Victor Song

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
    fsmonitor = true
    untrackedCache = true

[color]
    ui = true

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[pull]
    rebase = true

[alias]
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
    root = rev-parse --show-toplevel
    dft = difftool

[merge]
    conflictstyle = zdiff3

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[submodule]
    recurse = true

[fetch]
    prune = true
    all = true

[push]
    default = simple
    autoSetupRemote = true
    followTags = true

[commit]
    verbose = true

[rerere]
    enabled = true
    autoupdate = true

[hub]
    protocol = ssh

[diff]
    tool = difftastic
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[pager]
    difftool = true

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

{{- if eq .chezmoi.os "windows" }}
[credential]
    helper = manager-core
{{ end }}
