tap "buo/cask-upgrade"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
brew "antibody"
brew "bat"
brew "exa"
brew "fzf"
brew "luajit", args: ["HEAD"]
brew "mackup"
brew "neovim", args: ["HEAD"]
brew "wakeonlan"
cask "font-fantasque-sans-mono-nerd-font"
cask "google-chrome"
cask "intellij-idea"
cask "rectangle"
cask "setapp"
cask "slack"
