[user]
	email = {{ .email }}
	name = Victor Song
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[init]
	defaultBranch = main
[pull]
	rebase = false
[alias]
    wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
