{{- if eq .chezmoi.os "darwin" -}}
tap "buo/cask-upgrade"
{{ end -}}
tap "homebrew/bundle"
{{- if eq .chezmoi.os "darwin" }}
tap "homebrew/cask"
tap "homebrew/cask-fonts"
{{ end  -}}
tap "homebrew/core"
brew "antibody"
brew "bat"
brew "chezmoi"
{{- if eq .chezmoi.os "linux" }}
brew "act"
brew "docker"
{{ end }}
brew "exa"
brew "fzf"
{{- if eq .chezmoi.os "darwin"}}
brew "luajit", args: ["HEAD"]
brew "neovim", args: ["HEAD"]
brew "wakeonlan"
{{- else -}}
brew "neovim"
{{- end -}}
{{- if eq .chezmoi.os "linux" }}
brew "xclip"
brew "zsh"
{{ end -}}

{{- if eq .chezmoi.os "darwin" }}
cask "font-fantasque-sans-mono-nerd-font"
cask "google-chrome"
cask "intellij-idea"
cask "rectangle"
cask "setapp"
cask "slack"
{{ end -}}

# install Alacritty from source
# install Visual Studio Code Insiders until there's M1 support
