{{ if (or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux")) -}}
#!/bin/bash

set -euo pipefail
IFS=$'\n\t'

command -V brew
if [[ $? != 0 ]] ; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
    echo "Homebrew is already installed!"
fi

if [ ! -d "$HOME/.tmux/plugins/tpm" ] ; then
    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
else
    echo "Tmux plugin manager is already installed!"
fi

if [ ! -d "$HOME/.local/share" ] ; then
    sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'
else
    echo "Vim Plug is already installed!"
fi

if [ -d "$HOME/.zsh_plugins.txt" ] ; then
    antibody bundle < $HOME/.zsh_plugins.txt > $HOME/.zsh_plugins.sh
else
    echo "Antibody plugins are generated!"
fi
{{ end -}}
