Host *
  AddKeysToAgent yes
{{- if (eq .chezmoi.os "darwin") }}
  UseKeychain yes
{{- end }}
  IdentityFile ~/.ssh/id_ed25519
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p
  ControlPersist 600
  RevokedHostKeys ~/.ssh/revoked_hosts

Host backup-rsync
  HostName ch-s011.rsync.net
  User 18320

Host clear
  HostName ssh.clear.rice.edu
  User vms2

Host rice-gateway
  HostName gw.crc.rice.edu
  User vms2

Host nots
  HostName nots.rice.edu
  User vms2
  ProxyJump rice-gateway

