font_family             Iosevka Term SS17
disable_ligatures       always
{{ if (eq .chezmoi.os "darwin") }}
font_size               13.0
{{ else }}
font_size               14.0
{{ end }}
include                 dracula.conf
window_padding_width    3
initial_window_width    132c
initial_window_height   43c
{{ if (eq .chezmoi.os "darwin") }}
shell                   /opt/homebrew/bin/fish --login --interactive
{{ else }}
shell                   /home/linuxbrew/.linuxbrew/bin/fish --login --interactive
{{ end }}
cursor_shape            block
cursor_blink_interval   0
shell_integration       disabled
macos_option_as_alt     yes
