font_family             Rec Mono Semicasual
bold_font               Rec Mono Semicasual Bold
italic_font             Rec Mono Semicasual Italic
bold_italic_font        Rec Mono Semicasual Bold Italic
disable_ligatures       always
{{ if (eq .chezmoi.os "darwin") }}
font_size               13.0
{{ else }}
font_size               10.0
{{ end }}
include                 dracula.conf
window_padding_width    3
initial_window_width    132c
initial_window_height   43c
{{ if (eq .chezmoi.os "darwin") }}
shell                   /bin/zsh --login
{{ else }}
shell                   /usr/bin/zsh --login
{{ end }}
