{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
alias code='/mnt/c/Users/vsong/scoop/apps/vscode/current/bin/code'
{{   end }}
{{ end }}
alias lx='eza --long --git --group-directories-first --all --sort=ext --classify --grid'
alias le='eza --group-directories-first --all'

alias up='cd ..'
