{{ if eq .chezmoi.os "linux" }}
eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{ else }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
# Homebrew on WSL 2 only works for Topgrade if it is in .zshenv

pathprepend "${HOME}/.local/bin"

# Cargo on WSL 2 only works for Topgrade if it is in .zshenv
[[ -f "${HOME}"/.cargo/env ]] && source "${HOME}"/.cargo/env

FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

fpath+=( /Users/vsong/.zfunc )
