{{ if eq .chezmoi.os "linux" }}
{{   if (not (.chezmoi.kernel.osrelease | lower | contains "microsoft")) }}
eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)
{{   end }}
{{ else }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ end }}
# Homebrew on WSL 2 only works for Topgrade if it is in .zshenv

export PATH="${HOME}/.local/bin:${PATH}"
{{ if (or (eq .chezmoi.os "darwin") (and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) }}
[[ -f "${HOME}"/.cargo/env ]] && source "${HOME}"/.cargo/env
{{ end }}

FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
