{{ if (eq .chezmoi.os "darwin") -}}
source /opt/homebrew/opt/antidote/share/antidote/antidote.zsh
{{ else if (eq .chezmoi.os "linux") -}}
source /home/linuxbrew/.linuxbrew/opt/antidote/share/antidote/antidote.zsh
{{ end }}

[[ ! -f ~/.zsh_plugins.zsh ]] || source ~/.zsh_plugins.zsh
