{{ if eq .chezmoi.os "darwin" }}
if ! test -n "$KITTY_INSTALLATION_DIR"; then
    test -e /Users/vsong/.iterm2_shell_integration.zsh && source /Users/vsong/.iterm2_shell_integration.zsh || true
fi
{{ end }}
