{{ if eq .chezmoi.os "darwin" }}
fish_add_path '/opt/homebrew/sbin'
fish_add_path '/opt/homebrew/bin'
{{ else }}
fish_add_path '/home/linuxbrew/.linuxbrew/sbin'
fish_add_path '/home/linuxbrew/.linuxbrew/bin'
{{ end }}
fish_add_path "$HOME/.local/bin"
set -Ux BAT_THEME Dracula
set -Ux HOMEBREW_BAT true
set -Ux EDITOR nvim
set -Ux VISUAL nvim
fish_add_path "$HOME/.cargo/bin"
